<html>
    <head>
        <title> Let's Hack for Rural Development </title>
          <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
          <!-- Compiled and minified JavaScript -->
            
            <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <style type="text/css">
                tab1{
                    padding-left: 4em;
                }
            </style>
    </head>
<body class="blue lighten-5">
    <h3 class="condensed"> <center> Optimized Agriculture Transport Logistics </center></h3>
    <br>
    <br>
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col s12">
                <div class="card white">
                    <div class="card-content black-text">
                        <center><span class="card-title"> Enter your details </span></center>
                        <form method="post" action="/loggedIn">
                            Username:
                            <input type="text" name="uname">
                            <br>
                            <br> 
                            Password:
                            <input type="password" name="pass">
                            <br>
                    </div>
                    <div class="card-action">
                        <tab1></tab1><tab1></tab1><tab1></tab1><tab1></tab1><tab1></tab1><tab1></tab1><tab1></tab1>
                                <button class="btn black" type="reset" value="Reset">Reset</button>
                        <tab1></tab1><tab1></tab1>        
                                <button class="btn light-blue darken-3" type="submit" value="Submit" ng-click="submit()">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                        <tab1></tab1>
                        </form>

                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>